# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Project-specific excludes
node_modules
dist
dist-ssr
*.local
workAssets
coverage
public/.vite

# Do not remove/uncomment these lines below without understanding legal implications of distributing Gemma models via Git repo.
# At time of writing, we are just downloading Gemma models to local dev environments.
public/litert-models/*
!public/litert-models/.gitkeep

# Be careful about deleting this line below. Very easy to accidentally expose some secrets used in environment variables by committing the .env file.
.env

# Editor directories and files. Okay to add more for your particular dev environment.
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
