@value colors: "@/components/commonPalette.module.css";
@value button, button-text, button-highlight, button-text-highlight, button-disabled, button-text-disabled from colors;
@value commonStyles: "@/components/commonStyles.module.css";
@value disableSelect from commonStyles;

.bar {
    display: flex;
    justify-content: flex-start;    
    align-items: stretch;
    flex-wrap: wrap;
}

.label {
    composes: disableSelect;
    flex-grow: 0;
    min-width: 7vh;
    padding-left: .5vh;
    padding-right: .5vh;
    font-size: 1.3vh;
}

.selectorButton {
    composes: disableSelect;
    justify-content: center;
    background-color: button;
    border-style: none solid none none;
    border-color: #aa6226;
    background-position: center;
    transition: background 0.2s;
    cursor: pointer;
    margin-bottom: .1vh;
}

.tabButton {
    border-top-left-radius: .5vh;
    border-top-right-radius: .5vh;
    margin-bottom: 0; /* Because it's often good to put the tabs directly attached to the top of some container for tab content. */
    margin-right: .1vh;
}

.selectorButton:hover {
    background: button-highlight radial-gradient(circle, transparent 1%, button 1%) center/23000%;
}
.selectorButton:active {
    background-color: button-highlight;
    background-size: 100%;
    transition: background 0s;
}

.firstSelectorButton {
    border-top-left-radius: .5vh;
    border-bottom-left-radius: .5vh;
}

.lastSelectorButton {
    border-top-right-radius: .5vh;
    border-bottom-right-radius: .5vh;
}

.selectorButtonText {
    padding-left: .5vh;
    padding-right: .5vh;
    letter-spacing: .1vh;
    font-size: 1.1vh;
    color: button-text;
}

.selectorButtonSelected {
    composes: selectorButton;
    background-color: button-highlight;
    cursor: default;
}

.icon {
    display: inline-block;
    height: 1.1vh;
    font-size: 1vh;
    padding-left: .3vh;
    color: button-text;
    cursor: default;
}

.iconDisabled {
    composes: icon;
    cursor: pointer;
}

.selectorButtonSelectedReclickable {
    composes: selectorButton;
    background-color: button-highlight;
    cursor: pointer;
}

.selectorButtonSelected:hover {
    background-color: button-highlight;
}

.selectorButtonTextSelected {
    composes: selectorButtonText;
    color: button-text-highlight;
}

.selectorButtonDisabled {
    composes: selectorButton;
    background-color: button-disabled;
    cursor: pointer;
}

.selectorButtonDisabled:hover {
    background-color: button-disabled;
}
.selectorButtonDisabled:active {
    background-color: button-disabled;
}

.selectorButtonTextDisabled {
    composes: selectorButtonText;
    color: button-text-disabled;
}